*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:#fff;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:250px;
    height:100vh;
    background:#1c1c1c;
    border-right:2px solid #d4af37;
    padding:20px;
}

.logo{
    text-align:center;
    color:#d4af37;
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;
}

.menu a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
}

.menu a:hover{
    background:#d4af37;
    color:#111;
}

.content{
    margin-left:270px;
    padding:30px;
}

h1{
    color:#d4af37;
    margin-bottom:20px;
}

.card{
    background:#1c1c1c;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

input,
select{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#d4af37;
    color:#111;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:.9;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#1c1c1c;
}

th{
    background:#d4af37;
    color:#111;
}

th,td{
    border:1px solid #333;
    padding:12px;
}

.excluir{
    background:#c0392b;
    color:white;
}

.editar{
    background:#3498db;
    color:white;
    margin-right:5px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.numero{
    font-size:30px;
    color:#d4af37;
    font-weight:bold;
}